.root {
    -fx-background-image: url('TableroFondo.jpeg');
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}