<h1>Objetos relacionados a Shrek</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Objeto</th>
        <th scope="col">Valor</th>
        <th scope="col">Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Poción</td>
        <td>10 rupees</td>
        <td><button type="button" class="btn btn-outline-primary"  [routerLink]="['/objetos', 'pocion']">🧿</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Gato con botas</td>
        <td>450 rupees</td>
        <td><button type="button" class="btn btn-outline-primary"  [routerLink]="['/objetos', 'gato-con-botas']">🐈</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Burro</td>
        <td>200 rupees</td>
        <td><button type="button" class="btn btn-outline-primary"  [routerLink]="['/objetos', 'burro']">🐴</button></td>
      </tr>
    </tbody>
  </table>