body{
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

header.TopHeader{
    background-color: #000000;
    align-items: left;
}

header.TopHeader img{
    height: 15%;
    width: 10%;
}

header.MainHeader{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/mgs-2-intro.png);
    background-size: cover;
}

.header-image{
    transition: opacity 0.5s ease-out;
}

section.Description{
    padding: 1%;
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: 1.5em;
}

section.Platforms{
    background-color: rgb(19, 19, 19);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

section.Platforms strong{
    padding-right: 2%;
}

section.Platforms img{
    height: 20px;
    width: 10%;
    margin: 0.4%;
    padding: 1%;
}

section.Platforms img:hover {
    opacity: 0.5;
    transition: 0.5s ease-out;
}

#ps5-logo {
    background-image: radial-gradient(circle, rgb(2, 111, 148), blue);
}

#xbox-logo {
    background-image: radial-gradient(circle, rgb(41, 136, 41), green);
}

#steam-logo {
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.178), rgb(87, 87, 87));
}

section.Gameplay {
    height: 500px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
    padding-right: 600px;
    transition: opacity 0.5s ease-out;
}

#background-gif {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

section.Gameplay p {
    font-size: 1.5em;
    color: white;
    margin-bottom: 1%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    padding: 10px; 
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px; 
}

section.Charaters{
    margin: auto;
    padding: 20px;
    max-width: 1200px;
    box-sizing: border-box;
}

section.Characters h1{
    text-align: right;
    padding: 20px;
    text-decoration: underline;
    text-decoration-color: aqua;
}

section.Characters ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}

section.Characters ul li:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease-in-out;
}

section.Characters ul li {
    flex: 1 1 calc(50% - 40px);
    box-sizing: border-box;
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 6px;
    text-align: center;
    border: 1px solid rgb(0, 217, 255);
    border-radius: 5px;
    margin-right: 30px;
}

section.Characters ul li strong{
    color: rgb(0, 217, 255);
    font-size: 1.2em;
}

section.Characters img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

footer{
    background-color:rgb(15, 15, 15);
    text-align: right;
    margin: auto;
    height: 30px;
}
